		body{
			background: #f1f1ff;
			font-family:Exo,Quicksand,sans-serif;
		}
		.areaButton {
			color: #ddd;
			background-color: limegreen;
			margin: 5px;
			padding: 4px;
			border: none;
			border-radius: 5px;
		}
		.areaButtonSelected {
			color: white;
			background-color: limegreen;
			margin: 5px;
			padding: 4px;
			border-radius: 5px;
		}
		.paramButton {
			color: #ddd;
			background-color: #66f;
			margin: 5px;
			padding: 4px;
			border: none;
			border-radius: 5px;
		}
		.paramButtonSelected {
			color: white;
			background-color: #66f;
			margin: 5px;
			padding: 4px;
			border-radius: 5px;
		}
	
		.modalTable {
			border: 1px solid #aaa;
			border-collapse: collapse;
			text-align: center;
		}
		table.modalTable th {
			color: white;
			background-color: #9090FF;
			padding: 5px;
		}
		table.modalTable td {
			padding: 5px;
		}
		
		canvas {
			width: 100%;
			max-width: 400px;
		}
		/* Styles for the modal */
		.modal {
			opacity: 0;
			visibility: hidden;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			text-align: left;
			background: rgba(0,0,0, .6);
			transition: opacity .25s ease;
		}

		.modal__bg {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			cursor: pointer;
		}

		.modal-state {
			display: none;
		}

		.modal-state:checked + .modal {
			opacity: 1;
			visibility: visible;
		}

		.modal-state:checked + .modal .modal__inner {
			top: 0;
		}

		.modal__inner {
			transition: top .25s ease;
			position: absolute;
			top: -20%;
			right: 0;
			bottom: 0;
			left: 0;
			width: 300px;
			margin: auto;
			overflow: auto;
			background: #fff;
			border-radius: 5px;
			padding: 1em 2em;
			height: 500px;
		}

		.modal__close {
			position: absolute;
			right: 1em;
			top: 1em;
			width: 1em;
			height: 1em;
			cursor: pointer;
		}

		.modal__close:after,
		.modal__close:before {
			content: '';
			position: absolute;
			width: 2px;
			height: 1.5em;
			background: #ccc;
			display: block;
			transform: rotate(45deg);
			left: 50%;
			margin: -3px 0 0 -1px;
			top: 0;
		}

		.modal__close:hover:after,
		.modal__close:hover:before {
			background: #aaa;
		}

		.modal__close:before {
			transform: rotate(-45deg);
		}

		@media screen and (max-width: 768px) {

			.modal__inner {
				width: 370px;
				height: 640px;
				box-sizing: border-box;
			}
		}
